biopython==1.83
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
exceptiongroup==1.2.0
fonttools==4.47.2
idna==3.6
importlib-resources==6.1.1
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.2
nanomotif==0.1.13
networkx==3.1
numpy==1.24.4
packaging==23.2
pandas==2.0.2
pillow==10.2.0
pluggy==1.4.0
polars==0.20.6
progressbar2==3.53.1
pyparsing==3.1.1
pytest==8.0.0
pytest-mock==3.12.0
python-dateutil==2.8.2
python-utils==3.8.2
pytz==2024.1
requests==2.31.0
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
zipp==3.17.0
